.container{ 
    display: flex;
    flex-wrap: wrap;
    width: 60%;
    margin: 30px;
    margin-left: 60px;
    padding: 60px;
    text-align: center;
    border-radius: 13%;
    min-height: 100vh;
}
body{
    background: rgb(29, 1, 56);
    color: white;

}
table{
    border-collapse: collapse;
    width: 100%;
}
th, tr, td{
    border: 2px solid white;
}
.alumni-sans-pinstripe-regular {
  font-family: "Alumni Sans Pinstripe", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 23px;
}
header{
    width: 51%;
    margin: 30px;
    margin-left: 120px;
    padding: 60px;
    text-align: center;
    border: 4px solid rgb(255, 255, 255);
}
input {
    display: flex;
    justify-self: left;
    width: 99%;
    height: 35px;
    background-color: rgb(15, 15, 15);
    color: rgb(110, 110, 110);
    font-family: "Bungee Spice";
}
label{
    display: flex;
    justify-content: left;
}
.my-label{
    display: flex;
    justify-content: left;
}
textarea{
    background-color: rgb(15, 15, 15);
    color: rgb(110, 110, 110);
    font-family: "Bungee Spice";
}
.bungee-spice-regular {
  font-family: "Bungee Spice", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.my-button {
    background-color: rgb(47, 34, 61);
    border: 3px solid rgb(68, 66, 66);
    color: rgb(31, 111, 216);
    padding: 3px 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 17px;
    margin: 4px 2px;
    cursor: pointer;
}
.dancing-script-uniquifier{
  font-family: "Dancing Script", cursive;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
}
.pacifico-regular {
  font-family: "Pacifico", cursive;
  font-weight: 400;
  font-style: normal;
}
.h{
    display: flex;
    justify-content: center;
}
.button {
    background-color: rgb(47, 34, 61);
    border: 3px solid rgb(68, 66, 66);
    color: rgb(31, 111, 216);
    padding: 3px 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 17px;
    margin: 4px 2px;
    cursor: pointer;
}
.container1{ 
    display: flex;
    justify-content: left;
    flex-flow: column wrap;
    width: 60%;
    margin: 30px;
    margin-left: 60px;
    padding: 60px;
    text-align: center;
    height: 100vh;
    
}
.header1{
    width: 51%;
    margin: 30px;
    margin-left: 20%;
    padding: 60px;
    text-align: center;
    border: 4px solid rgb(255, 255, 255);
}
.my-button12 {
    display: flex;
    background-color: rgb(47, 34, 61);
    border: 3px solid rgb(68, 66, 66);
    color: rgb(31, 111, 216);
    padding: 3px 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 17px;
    margin: 4px 2px;
    cursor: pointer;
}
.container2{ 
    display: flex;
    flex-flow: column wrap;
    width: 60%;
    margin: 30px;
    margin-left: 60px;
    padding: 60px;
    text-align: center;
    height: 100vh;
    
}
.caveat-uniquifier{
  font-family: "Caveat", cursive;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
}
.textarea1{
    background-color: rgb(15, 15, 15);
    color: rgb(110, 110, 110);
    font-family: "caveat-uniquifier";
}
.textarea2{
    background-color: rgb(15, 15, 15);
    color: rgb(110, 110, 110);
    font-family: "dancing-script-uniquifier";
}